<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
<listeners>
	<listener class-name = "wtw.NewListeners"/>
</listeners>
  <test name="Demo">
	 <classes>
	 	<class name ="wtw.SeleniumDriver"/>
	 	<methods>
	 		<include name="ESS_UpdateName" />
	 	</methods>
	 </classes>
	 	     
  </test> <!-- Test -->
</suite> <!-- Suite -->
